//npm.pkg.jetbrains.space/novapo/p/main/medusa:_authToken=eyJhbGciOiJSUzUxMiJ9.eyJzdWIiOiJvM20wNjA3bjhSNCIsImF1ZCI6ImNpcmNsZXQtd2ViLXVpIiwib3JnRG9tYWluIjoibm92YXBvIiwibmFtZSI6Im5vdmFwbyIsImlzcyI6Imh0dHBzOlwvXC9ub3ZhcG8uamV0YnJhaW5zLnNwYWNlIiwicGVybV90b2tlbiI6Imt2REhSMTdCWXk5IiwicHJpbmNpcGFsX3R5cGUiOiJVU0VSIiwiaWF0IjoxNjgyMDkwNjk3fQ.DCahIwCikm6mpfe0HjetdX8dWQBiT5zm9_xWQBp8nH9hVCibc4b-89zhLt6cBXqA-BPOyJz1t_tuLXd1nPfsCTyaYhHOdoN5sCFS4lTdJ6__dUjmY9Zdum-tFdJZzkWDi6ooM34JZeyEpF5umcopsvscwFWYB54lPTdeLW16kUc